@import 'scss/abstracts/_mixins';
@import 'scss/abstracts/_variables';

.table {
  font-weight: bold;
  color: $primary-text;
  overflow: auto;

  //shadow for uverflow case, to have border left-right showing
  @include boxShadow(false, 0, 0, 7px, -5px, 0.35);

  .tableBody {
    flex-grow: 1;
    min-width: 60rem;

    &:empty {
      &::before {
        content: attr(emptymessage);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15rem;
        background-color: #eaecef;
        @include boxShadow(false, 0, 2px, 2px, 1px, 0.1);
      }
    }
  }
}
